.svg-image {
    width: 900px;
}

#whole_ambulance,
#ambulance_shadow,
#trees_city_front, 
#trees_city_back,
#city,
#cloud_city,
#cloud_2_city,
#cloud_3_city,
#right_tire,
#left_tire {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
}

.wa:hover path {
    fill: rgba(255, 158, 44, .5);
    stroke-width: 1px;
    stroke: black;
}

.wa:hover rect {
    fill: rgba(255, 158, 44, .5);
    stroke-width: 1px;
    stroke: black;
}

.wa:hover circle {
    fill: rgba(255, 158, 44, .5);
    stroke-width: 1px;
    stroke: black;
}
.wa:hover polygon {
    fill: rgba(255, 158, 44, .5);
    stroke-width: 1px;
    stroke: black;
}

#whole_ambulance {
    fill: white;
    stroke-width: 4px;
    stroke: transparent;
}

#whole_ambulance{
    animation-name: car;
    animation-duration: 1.5s;
}

#ambulance_shadow {
    animation-name: car-shadow; 
    animation-duration: 1.5s;
}

#left_tire, #right_tire { 
    animation-name: car-tires; 
    animation-duration: .3s;
    transform-box: fill-box;
}

#trees_city_front {
animation-name: trees-front;
animation-duration: 1.2s;
}

#trees_city_back {
    animation-name: trees-back;
    animation-duration: 1.7s;
    }

#city {
    animation-name: city;
    animation-duration: 30s;
}

#cloud_city {
    animation-name: cloud-city;
    animation-duration: 240s;
    animation-delay: -100s;
  }

#cloud_2_city {
    animation-name: cloud2-city;
    animation-duration: 240s;
}

#cloud_3_city {
    animation-name: cloud3-city;
    animation-duration: 480s;
    animation-delay: -200s;
}

@keyframes car {
    50% {
        transform: translateY(10px);
    }
}

@keyframes car-shadow {
    50% {
        transform: scale(1.01);
    }
}

@keyframes car-tires {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes trees-front {
0% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(-680px);
    }
}
@keyframes trees-back {
    0% {
            transform: translateX(330px);
        }

        100% {
            transform: translateX(-500px);
        }
    }

@keyframes city {
    0% {
            transform: translateX(1920px);
        }

        100% {
            transform: translateX(-2400px);
        }
    }

@keyframes cloud-city {
    0% {
        transform: translateX(-1920px);
      }
      
      100% {
        transform: translateX(2400px);
      }
    }

    @keyframes cloud2-city {
        0% {
            transform: translateX(-1920px);
          }
          
          100% {
            transform: translateX(2400px);
          }
        }

        @keyframes cloud3-city {
            0% {
                transform: translateX(1920px);
              }
              
              100% {
                transform: translateX(-2400px);
              }
            }